[Desktop Entry]
Name=HTYFileManager
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYFileManager/HTYFileManager
Icon=/media/sonichy/job/HY/Linux/Qt/HTYFileManager/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYFileManager
Terminal=false
Type=Application
MimeType=
Categories=